# Windows Authentication (nên dùng) - để trống DB_USER và DB_PASSWORD
# SQL Server Authentication - điền DB_USER và DB_PASSWORD
DB_SERVER=localhost
DB_NAME=QuanLyThuVien
DB_USER=
DB_PASSWORD=
SECRET_KEY=nhom4_thuVien_CSDL 
FLASK_DEBUG=True